.link {
	@apply text-ua-blue
    relative
    inline-block
    text-sm
    xl:text-base

    after:block
    after:absolute
    after:h-0.5
    after:w-full
    after:bg-ua-yellow

    after:transition
    after:-translate-x-1/3
    hover:after:translate-x-0
    after:scale-x-0
    hover:after:scale-100;
}

.activeLink {
	composes: link;
	@apply after:bg-ua-blue after:scale-100 after:-translate-x-0;
}

.mobileNav {
	@apply /* bg-white */
		mt-20
    p-4 fixed inset-0

    flex flex-col items-center justify-center gap-3

    text-xl
    text-ua-blue
    font-bold;
}

.mobileLink {
	padding: min(2vh, 20px) 0;
	@apply block w-full text-center;
}

.activeMobileLink {
	composes: mobileLink;
}

.myOffers {
	padding: min(2vh, 20px) 0;
	@apply flex items-center justify-center w-full font-normal text-gray-600 gap-2 hover:opacity-80;
}

.myOffersDesktop {
	composes: myOffers;
	@apply w-auto p-0;
}
