.link {
	@apply text-ua-blue
    relative
    inline-block


    after:block
    after:absolute
    after:h-0.5
    after:w-full
    after:bg-ua-yellow

    after:transition
    after:-translate-x-1/3
    hover:after:translate-x-0
    after:scale-x-0
    hover:after:scale-100;
}

.activeLink {
	composes: link;
	@apply after:bg-ua-blue after:scale-100 after:-translate-x-0;
}

.mobileNav {
	@apply /* bg-white */
    p-4 fixed inset-0

    flex flex-col items-center justify-center gap-3

    text-xl
    text-ua-blue
    font-bold;
}

.mobileLink {
	@apply block
    py-6
    text-center
    w-full;
}

.activeMobileLink {
	composes: mobileLink;
}

.myOffers {
	@apply font-normal text-gray-800 py-6 flex items-center gap-2 w-full justify-center;
}

.myOffersDesktop {
	composes: myOffers;
	@apply p-0 w-auto mr-4;
}
