@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Nuckle";
	src: url("/fonts/Nuckle Regular.otf");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Nuckle";
	src: url("/fonts/Nuckle Bold.otf");
	font-style: bold;
	font-display: swap;
}

@layer base {
	body {
		@apply font-nuckle text-black text-xs sm:text-base;
	}
}
